<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAppId</key>
	<string>10016</string>
	<key>channelAppkey</key>
	<string>sGxvORLhZo6OTFbd</string>
	<key>isUsePure</key>
	<string>false</string>
	<key>xgsdkAppId</key>
	<string>2098</string>
	<key>xgsdkAppKey</key>
	<string>3b2c9da55872423bbc33102c8e8df84b</string>
	<key>xgsdkAuthUrl</key>
	<string>http://onsite.auth.xgsdk.com:8180</string>
	<key>xgsdkBuildNumber</key>
	<string>1.0.0</string>
	<key>xgsdkBundleId</key>
	<string>com.game.jianxia1</string>
	<key>xgsdkChannelId</key>
	<string>ios_jinshanApple</string>
	<key>xgsdkDataUrl</key>
	<string>http://data.xgsdk.com</string>
	<key>xgsdkPlanId</key>
	<string>294</string>
	<key>xgsdkRechargeUrl</key>
	<string>http://p2.xgsdk.com</string>
	<key>xgsdkServerVersion</key>
	<string>v1</string>
	<key>xgsdk_commit_hash</key>
	<string>c82cf98</string>
</dict>
</plist>
