 <a ng-init="vm.isShowTip=false" ng-click="vm.isShowTip=!vm.isShowTip"><img style='width:23px;height:23px' src="/img/question.png" alt=""></a>
        <span ng-blur="vm.isShowTip=false" tabindex =0 ng-if='vm.isShowTip' class='pm-decrip' style=' display: inline-block;
    position: absolute;
    margin-top: 10px;
    width: 200px;
    background-color: white;
    border-radius: 3px;
    padding: 4px;
    border: solid 1px #968484;
    font-size: 13px;
    font-family: cursive;'>申报模板中定义了后续在立项过程中的需要填写的材料。</span>