    body {
        background-color: yellow
    }
    
    div.rounded {
        background-color: #FFF;
        height: 123px;
        width: 200px;
        font-size: 11px;
        overflow: hidden;
    }