<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Demo: Minimal and Modern Portfolio Layout PSD to HTML Conversion</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--CONTAINER STARTS-->
<div id="container">
 <!--HEADER/NAVIGATION STARTS-->
 <div id="top">
  <!--WEBSITE TITLE STARTS-->
  <div id="title">
   <h1><a href="#" title="Your Website Name">Your Website Name</a></h1>
  </div>
  <!--WEBSITE TITLE ENDS-->
  <!--NAVIGATION STARTS-->
  <div id="navigation">
   <ul class="nav-links">
    <li><a href="#" title="home">home</a></li>
    <li><a href="#" title="about">about</a></li>
    <li><a href="#" title="portfolio">portfolio</a></li>
    <li class="borderx2"><a href="#" title="contact">contact</a></li>
   </ul>
  </div>
  <!--NAVIGATION ENDS-->
 </div>
 <!--HEADER/NAVIGATION ENDS-->
 <!--WELCOME AREA STARTS-->
 <div id="welcome">
  <!--WELCOME TEXT STARTS-->
  <div id="welcome-text">
   <h2>welcome to <span class="heading-color2">yourwebsite!</span></h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia pellentesque neque in hendrerit. Suspendisse in malesuada mi. Donec in dictum neque. Mauris vel lacus eget risus fermentum tristique. Nulla ac elit augue.</p>
   <p>Proin fringilla nunc lorem, in sollicitudin orci. Sed ut eros ligula.</p>
   <ul class="list">
    <li>Lorem ipsum dolor sit amet...</li>
    <li>Lorem ipsum dolor sit amet...</li>
    <li>Lorem ipsum dolor sit amet...</li>
    <li>Lorem ipsum dolor sit amet...</li>
   </ul>
  </div>
  <!--WELCOME TEXT ENDS-->
  <!--WELCOME IMAGE STARTS-->
  <div id="welcome-image">
   <img src="images/welcome_image.png" alt="Welcome..." />
  </div>
  <!--WELCOME IMAGE ENDS-->
 </div>
 <!--WELCOME AREA ENDS-->
 <!--SEPARATOR STARTS-->
 <div class="separator">&nbsp;</div>
 <!--SEPARATOR ENDS-->
 <!--SIDEBAR STARTS-->
 <div id="sidebar">
  <h3>lorem ipsum dolor</h3>
  <ul class="sidebar-list">
   <li>Lorem ipsum dolor sit amet, consectetur sit
    adipiscding...</li>
   <li>Lorem ipsum dolor sit amet, consectetur sit
    adipiscding...</li>
   <li>Lorem ipsum dolor sit amet, consectetur sit
    adipiscding...</li>
  </ul>
 </div>
 <!--SIDEBAR ENDS-->
 <!--CONTENT STARTS-->
 <div id="content">
  <h2>welcome to <span class="heading-color2">yourwebsite!</span></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia pellentesque neque in hendrerit. Suspendisse in malesuada mi. Donec in dictum neque. Mauris vel lacus eget risus fermentum tristique. Nulla ac elit augue.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia pellentesque neque in hendrerit. Suspendisse in malesuada mi. Donec in dictum neque. Mauris vel lacus eget risus fermentum tristique. Nulla ac elit augue. Proin fringilla nunc lorem. Sed ut eros ligula.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia pellentesque neque in hendrerit. Suspendisse in malesuada mi. Donec in dictum neque. Mauris vel lacus eget risus fermentum tristique. Nulla ac elit augue. </p>
 </div>
 <!--CONTENT ENDS-->
 <!--FOOTER STARTS-->
 <div id="footer">
  <p>Copyright &copy; Six Revisions - Design By Richard Carpenter</p>
 </div>
 <!--FOOTER ENDS-->
</div>
<!--CONTAINER ENDS-->
</body>
</html>