<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-bi-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>xg_ios_jinshanApple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01CE4BE1653F545A1EC48974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C3AAB7A56D866A881A1CB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09812A8FB2A66AA37A770128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09AE270EB91ED64EE06A2B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A618A7AE4A42DCB8628E33C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B1EC21CF996E99F77E79699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFCD27E2E8F36CCEA01E831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FAE9619219958244974DF94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>126521185278A2E94EFFA71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1317B6D12FE9E55D0632CAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13E5F6DF407B65B92D900043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15BA82B54631D69C481B9ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18502A6F00F3176721A39775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B2984C71A8F190C01BE9F5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C823ABB448AF22BBB72F0A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DD76383197834150ACDC6B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21CD98F64F78E132C751DE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245D99C7C1DABACCB3313B1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>248EC1EB751437AB7C910784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26CFF9614F11C5426C761F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC0E20CBB3DBE62D189D093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DEE9301D6E8537F425514B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33EF992EE11C62FBEDB31557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387AA70A0B46029A5B49B29D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A26856C3C6A9D21E700A6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4144B4AB41AD21A58DB91736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43CD56EFB141525A46212DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>478D782167F1D750C956EBDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4797D498F4E67BF3816A6CCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE98CA50FC459FDDBD65B75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBEDC182AA586C9D2C35CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5239EB30D8F48672DDA99A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56D42720FCC86D22576DA471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60EB6FFBF5F744CA9959CF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64386D4104B8E15C1B6104D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D54E79EED33643D981917D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1CA08762683B0019A91AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E6DA385750D157B8B2A1277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720F3B9489225D2130CEFFB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72CDEDD3A6E44098AA668DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73AF232CAB0EB2A4A9727E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752FF28A1A34131F006E89A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76F28B3CCC2C6D3FB306FBBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77861BBC7037F59EE7CD0CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786369021FD65C2B37BEDCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8E1D77A8DFF5C040237BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C744F9B19328F04FA237CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8110D941C8E93AE78BF1C46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829CEB1E2C358396D58ACBE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86B1ACDB13E2A8609B081C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86FB03FBF52B7232DE77B8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDB623D5131097CD1B0B50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D622262DD4FB41B7A5B0923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E15622C7A64E2655A4E04D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939C6A6659DEFC5B766D8272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93A18AAAA989C68308FBE87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98540B57B2D0AB11C0A54908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A94662EE7154860AD60B85B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D607C8A0ED7F3EA8D429337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EDDE2004B405EC23AD79419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEEEB37E6E3CF4E65E8CC22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3F1E67C3F8B1D3BC0923A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F7E661BFF4BF2E3345388DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4197FF3677D4CB563CD8E27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4C9D015BF1EF024C140C9DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58EFEFBD19873385943FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A61925F857612FA792D35F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A717B136BB78B9321D094F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9148062B035E0CDDCB34581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB90DAA183886EDF82F8BD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFF2B91EDECBCAC19C725A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1E8476F3DD3A4B4CAAA526A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90CD4130DBE4114222A66DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9AAF84077B534839D2A12F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC3D500D06A50C8CDA3310C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEAC7B46F5E42ACFBB56F394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FBC84E9BD8385C4484C359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC7188A7833EC4BE3502C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D270B9379FE116961B33763C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D715C434A066533507342E7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAAECEABF5D97008ED435AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBD37BA12F4764AAF05BBA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0075ECE11CAC5B7770F71A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0917FA721A42F6C7792CD1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0F784A366DF7C50B6EC7DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CED12843AB13733AF6E583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7138843308EA2D24FBBFC5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E756E8B4F74AFE442188DC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3D287A287D65BA0EDFB070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF34B6AB27C89686C5E652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0CCD0F0FE9AAC641226F8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1854AB5887ADFBACC9AB9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3143C1AC26DC1BD974EB49B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F634C8824329805AD9F18571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B3A7D77E2DB4FECBC29B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8ECC8D6BF6F9D701255FA8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC0FEB83AA979E3AC78DF9BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEC48D6897E7DDE57D660237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF733A08FDF796CF0987ACEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
